@model MVC_Project.Models.Identity.Account

@{
    ViewData["Title"] = "Login";
}
@section fluid {
    <div class="breadcrumb-area">
        <div class="container">
            <div class="breadcrumb-content">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li class="active">Login</li>
                </ul>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 mb-30">

        <!-- Login Form s-->
        <form action="/Account/Login" method="post">
            <div asp-validation-summary="All"></div>
            <div class="login-form">
                <h4 class="login-title">Login</h4>
                <div class="row">
                    <div class="col-md-12 col-12 mb-20">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="mb-0" placeholder="Email address" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="col-12 mb-20">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="mb-0" placeholder="Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
 
                    <div class="col-md-12">
                        <button type="button" onclick="window.location.href='@Url.Action("FacebookLogin", "Account")'">Login with Facebook</button>
                    </div>
                    <br />
                    <br />
                    <div class="col-md-12">
                        <button class="register-button mt-0">Login</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>